/* colors */

* {
  al:      #F4506D;
  bg:      #2A2C3A;
  se:      #F4506D;
  fg:      #FFFFFFFF;
  ac:      #F4506D;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #5590E7ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
