/* colors */

* {
  al:      #F9F9F9;
  bg:      #42457C;
  se:      #F9F9F9;
  fg:      #F9F9F9;
  ac:      #F9F9F9;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #5590E7ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
