@import "settings.rasi"

* {
  background-color: @background;
  text-color: @foreground;
}

#window {
  children: [ horibox ];
}

#horibox {
  children: [ listview ];
}

#listview {
  layout: horizontal;
}

#element {
  padding: @option-element-padding;
  background-color: @accent;
}

#element.selected {
  background-color: @background;
  text-color: @foreground;
}
